@use 'sass/colors.scss';
@use 'sass/typography.scss';

body {
  margin: 0;
  font-family: typography.$font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}