.navbar {
  margin-top: 0;
  margin-bottom: 3em;
  padding: .1em;
  background-color: white;
  -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.38);
}