@use '../../../sass/colors.scss';

:export {
  primary: colors.$primary;
  primary_hover: colors.$primary_hover;
  text: colors.$text;
  box_shadow: 2px 2px 0px 1px #000;
  box_shadow_hover: 3px 3px 0px 2px #000;
  font_weight: 600;
  disabled: colors.$disabled;
}